{{ define "issuesTable" }}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr>
      <td>
        <a href="/issue/issues/{{ .Id }}/">{{ .Title }}</a>
      </td>
      <td>{{ .Description }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}