{{ define "statusesForm" }}
<label for="status_id">Status:</label>
    <select id="status_id" name="status_id">
    {{ range . }}
    <option value={{ .Id }}>{{ .Name }}</option>
    {{ end }}
    </select><br>
{{ end }}

{{ define "prioritiesForm" }}
<label for="priority_id">Priority:</label>
      <select id="priority_id" name="priority_id">
        {{ range . }}
        <option value={{ .Id }}>{{ .Name }}</option>
        {{ end }}
      </select><br>
{{ end }}

{{ define "branchesForm" }}
<label for="branch_id">Branch:</label>
      <select id="branch_id" name="branch_id">
        {{ range . }}
        <option value={{ .Id }}>{{ .Name }}</option>
        {{ end }}
      </select><br>
{{ end }}