{{ define "list" }}
<h2>Projects</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr>
      <td><a href="/issue/projects/{{ .Id }}">{{ .Title }}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
