{{ define "issuePage" }}
  {{ template "top" }}
  <h1>{{ .Title }}</h1>
  <p>Status: {{ .StatusName }}</p>
  <p>Priority: {{ .PriorityName }}</p>
  <p>{{ .Description }}</p>
  <h2>Comments</h2>
  <div hx-get="{{ urlPrefixIssue }}/api/issues/{{ .Id }}/comments/table"
       hx-trigger="load"
       hx-swap="outerHTML">
  </div>
  {{ template "bot" }}
{{ end }}
