{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ urlPrefixStatic }}/css/style.css">
    <title>BugBase</title>
  </head>
  <body>
    <nav class="menu">
      <a href="{{ urlPrefixIssue }}/issue">Home</a>
      <a href="{{ urlPrefixIssue }}/issue/projects">Projects</a>
    </nav>
    <main>
{{ end }}

{{ define "bot" }}
    </main>
    <footer>
      <div>
        <a href="https://github.com/RSOPMS">BugBase</a>
        <span class="small"> Anže Arhar, Kristjan Kostanjšek, Nejc Ločičnik</span>
      </div>
    </footer>
    <script src="{{ urlPrefixStatic }}/js/htmx.min.js"></script>
  </body>
</html>
{{ end }}
