{{ define "projectsPage" }}
  {{ template "top" }}
  <h1>Projects</h1>
  <div hx-get="{{ urlPrefixIssue }}/api/projects/table/"
       hx-trigger="load"
       hx-swap="outerHTML">
  </div>
  {{ template "bot" }}
{{ end }}

{{ define "projectPage" }}
  {{ template "top" }}
  <h1>{{ .Title }}</h1>
  <h2>Issues</h2>
  <div hx-get="{{ urlPrefixIssue }}/api/projects/{{ .Id }}/issues/table/"
       hx-trigger="load"
       hx-swap="outerHTML">
  </div>
  {{ template "bot" }}
{{ end }}
